<div class="container signup-container center">	
	<h1 class="signup-header">Your Profile</h1>

	<div class="row">
	  <aside class="span4">
	    <section>
	      <h3 class="profile-label"><%= @user.name %></h3>
	      <h3 class="profile-label"><%= @user.email %></h3>
	    </section>
	  </aside>
	</div>
</div>
